// @import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Prompt:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Sarabun:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*, body {
  font-family: Prompt;
  font-weight: 300;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .04);
}

.tableNormal, .tableNormal td, .tableNormal th  {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;

}

.headerBg {
  background-color: #B71C1C;
}

.ptcBg {
  background-color: #A90D1A;
}

.ptcColor {
  color: #A90D1A;
}

.fontPrompt {
  font-family: Prompt;
  font-weight: 300;
}

.fontSarabun {
  font-family: Sarabun;
  font-weight: 400;
}

.fontNiramit {
  font-family: Niramit;
  font-weight: 400;
}

.fontBold {
  font-weight: 700;
}

.fontLigth {
  font-weight: 300;
}

.fontRedPtc {
  color: #A70D19;
}

.bgRedPtc {
  background-color: #A70D19;
}

.mainTitle > h1 {
  color: #E53935;
  border: solid 1px red;
  padding: 15px 0px;
}

.mainTitle > h3 {
  color: white;
  background-color: #E53935;
  padding: 8px 0px;
}

.subTitle {
  border-bottom: solid 3px#E53935  ;
  padding: 5px 0px;
}

.subTitle > span {
  padding: 8px 25px 8px 15px;
  margin: 0px;
  background-color: #E53935;
  color: white;
  // border-top-left-radius: 8px;
  border-top-right-radius: 25px;
}

.printPage {
  font-family: Sarabun;
  font-weight: 300;
  font-size: 11px;
  width: 21cm;
  min-height: 29.7cm;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 0cm;
  margin-right: auto;
  margin-bottom: 0cm;
  margin-left: auto;
  padding-top: 0cm;
  padding-right: 0.5cm;
  padding-bottom: 0cm;
  padding-left: 1cm;
}

.printPage3x2 {
  font-family: Sarabun;
  font-weight: 300;
  font-size: 11px;
  width: 21cm;
  min-height: 29.7cm;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 0cm;
  margin-right: auto;
  margin-bottom: 0cm;
  margin-left: auto;
  padding-top: 1cm;
  padding-right: 1.5cm;
  padding-bottom: 1.5cm;
  padding-left: 2.5cm;
}

.printPageLand {
  font-family: Sarabun;
  font-weight: 300;
  font-size: 11px;
  width: 29.1cm;
  min-height: 21cm;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 0cm;
  margin-right: auto;
  margin-bottom: 0cm;
  margin-left: auto;
  padding-top: 1cm;
  padding-right: 1cm;
  padding-bottom: 1cm;
  padding-left: 1cm;
}

.printHead {
  font-family: Sarabun;
  font-size: 17px;
  font-weight: bold;
}

.font14 {
  font-family: Sarabun;
  font-size: 11px;
}

.font16 {
  font-family: Sarabun;
  font-size: 13px;
}

.font17 {
  font-family: Sarabun;
  font-size: 14px;
}

.font18 {
  font-family: Sarabun;
  font-size: 15px;
}

.font19 {
  font-family: Sarabun;
  font-size: 16px;
}

.font20 {
  font-family: Sarabun;
  font-size: 17px;
}

.font22 {
  font-family: Sarabun;
  font-size: 19px;
}

.font24 {
  font-family: Sarabun;
  font-size: 21px;
}

.font25 {
  font-family: Sarabun;
  font-size: 22px;
}

.font26 {
  font-family: Sarabun;
  font-size: 23px;
}

.printTable {
  border: solid thin black;
  border-spacing: 0;
}

.printTable td,.printTable th {
  border: solid thin black;
  padding: 5px;
}

.krut {
  height: 1.5cm;
}

.krut2 {
  height: 3cm;
}

@media print {
  * {
    background-color: white;
  }

  .printPage {
    font-family: Sarabun;
    font-weight: 300;
    font-size: 13px;
    border: initial;
    border-radius: initial;
    /* width: initial; */
    min-height: initial;
    box-shadow: initial;
    background: initial;
    // padding: initial;
    // padding-left: initial;
    // padding-right: initial;
    page-break-before: always;
    background-color: white;
  }

  .printPage3x2 {
    font-family: Sarabun;
    font-weight: 300;
    font-size: 13px;
    border: initial;
    border-radius: initial;
    /* width: initial; */
    min-height: initial;
    box-shadow: initial;
    background: initial;
    // padding: initial;
    //padding-left: initial;
    //padding-right: initial;
    page-break-before: always;
    background-color: white;
  }

  .printPageLand {
    font-family: Sarabun;
    font-weight: 300;
    font-size: 13px;
    border: initial;
    border-radius: initial;
    /* width: initial; */
    min-height: initial;
    box-shadow: initial;
    background: initial;
    // padding: initial;
    padding-left: initial;
    padding-right: initial;
    page-break-before: always;
    background-color: white;
  }

  .printHead {
    font-family: Sarabun;
    font-size: 19px;
    font-weight: bold;
  }

  .fontSarabun {
    font-family: Sarabun;
  }

  .font14 {
    font-family: Sarabun;
    font-size: 13px;
  }

  .font16 {
    font-family: Sarabun;
    font-size: 15px;
  }

  .font17 {
    font-family: Sarabun;
    font-size: 16px;
  }

  .font18 {
    font-family: Sarabun;
    font-size: 17px;
  }

  .font19 {
    font-family: Sarabun;
    font-size: 18px;
  }

  .font20 {
    font-family: Sarabun;
    font-size: 19px;
  }

  .font22 {
    font-family: Sarabun;
    font-size: 21px;
  }

  .font24 {
    font-family: Sarabun;
    font-size: 23px;
  }

  .font25 {
    font-family: Sarabun;
    font-size: 24px;
  }

  .font26 {
    font-family: Sarabun;
    font-size: 25px;
  }

  .printTable {
    border: solid thin black;
  }

  .printTable td,.printTable th {
    border: solid thin black;
    padding: 5px;
  }

  .krut {
    height: 1.5cm;
  }

  .krut2 {
    height: 3cm;
  }

  .noPrint {
      display: none;
  }
}
